
@font-face {
    font-family: 'Gugi';
    src: url('/assets/fonts/Gugi/Gugi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    src: url('/assets/fonts/Tajawal/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'virgo_01';
    src: url('/assets/fonts/virgo_01/virgo.ttf') format('truetype');
}
