/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap"); */

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --sidebar-width-expanded: 275px;
  --sidebar-width-collapsed: 90px;
  --sidebar-width: var(--sidebar-width-expanded); /* Default to expanded */

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: cornflowerblue;
  --title-color: hsl(228, 18%, 16%);
  --text-color: hsl(228, 8%, 56%);
  --body-color: hsl(228, 100%, 99%);
  --shadow-color: hsla(228, 80%, 4%, 0.1);
  --sec-shadow-color: hsla(0, 0%, 0%, 0.525);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Nunito Sans", system-ui;
  /* --body-font: 'Gugi', sans-serif; */
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* letter-spacing: 0.1em; */
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

html, body {
  height: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

/*=============== VARIABLES DARK THEME ===============*/
body.dark-theme {
  --first-color: cornflowerblue;
  --title-color: hsl(228, 18%, 96%);
  --text-color: hsl(228, 12%, 61%);
  --body-color: #272626;
  --shadow-color: hsla(228, 80%, 4%, 0.3);
  --sec-shadow-color: hsla(0, 1%, 70%, 0.76);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/

.dark-theme .sidebar__content::-webkit-scrollbar {
  background-color: hsl(228, 16%, 30%);
}

.dark-theme .sidebar__content::-webkit-scrollbar-thumb {
  background-color: hsl(228, 16%, 40%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-inline: 1.5rem;
}

.main {
  flex: 1 1 auto; /* Allows it to take remaining space */
  overflow-y: auto; /* Enables vertical scrolling inside the main container */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  margin-left: calc(var(--sidebar-width) + 2.5rem);
  margin-right: 1rem;
  margin-top: calc(var(--header-height) + 4rem);
  margin-bottom: 1rem;
  min-height: calc(100vh - var(--header-height) - 5rem);
  max-height: calc(100vh - var(--header-height) - 5rem);
  /* padding: 25px; */
  position: relative;
  z-index: 1;
  background-color: var(--body-color);
  box-shadow: 0 2px 24px var(--shadow-color);
  border-radius: 1rem;
  transition: background-color 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.main::-webkit-scrollbar {
  width: 9px; /* Slightly wider for a modern look */
  border: 2px solid var(--body-color); /* Adds spacing for a floating effect */
}

.main::-webkit-scrollbar-track {
  background: var(--body-color); /* Matches the main background */
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--shadow-color); /* Subtle inset shadow */
}

.main::-webkit-scrollbar-thumb {
  background: var(--first-color); /* Soft contrast with text color */
  border-radius: 10px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.main::-webkit-scrollbar-thumb:hover {
  background: var(--first-color); /* Highlight on hover */
  border: 2px solid var(--shadow-color); /* More contrast on hover */
}

.main::-webkit-scrollbar-thumb:active {
  background: cornflowerblue; /* Darker shade when clicked */
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  flex: 0 0 auto; /* Header takes its height and does not grow/shrink */
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
  margin: 0;
}

.header__container {
  width: 100%;
  height: var(--header-height);
  background-color: var(--body-color);
  box-shadow: 0 2px 24px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  border-radius: 1rem;
  transition: background-color 0.4s;
}

.header__user {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 6px var(--sec-shadow-color);
}

.header__user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover; /* Ensures the image scales correctly */
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.header__link {
  position: relative;
  display: block;
  font-size: 1.35rem;
  color: var(--title-color);
  cursor: pointer;
  padding-right: 25px;
}

.search-container {
  position: relative;
  margin: auto;
}

.input {
  width: 500px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 2px var(--shadow-color);
  letter-spacing: 1.5px;
  transition: all 0.2s ease-in-out;
  outline: none;
  justify-content: space-between;
  background-color: var(--body-color);
  color: var(--text-color);
  opacity: 0.8;
  transition: padding 0.4s, background-color 0.4s ease;
}

.search-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

/*=============== SIDEBAR ===============*/
.sidebar {
  position: fixed;
  left: -120%;
  top: 0;
  bottom: 0;
  z-index: var(--z-fixed);
  width: 275px;
  background-color: var(--body-color);
  box-shadow: 2px 0 24px var(--shadow-color);
  padding-block: 1.5rem;
  margin: 0.75rem;
  border-radius: 1rem;
  transition: left 0.4s, background-color 0.4s, width 0.4s;
}

.sidebar__container,
.sidebar__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.sidebar__container {
  height: 100%;
  overflow: hidden;
}

.sidebar__logo {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1rem;
  padding-left: 1.5rem;
}

.sidebar__user {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1rem;
  padding-left: 1.5rem;
  display: none;
}

.sidebar__img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

.sidebar__user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 6px var(--sec-shadow-color);
}

.sidebar__img img {
  position: absolute;
  width: 100%;
}

.sidebar__info h3 {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  transition: color 0.4s;
}

.sidebar__info span {
  font-size: var(--smaller-font-size);
}

.sidebar__content {
  overflow: hidden auto;
}

.sidebar__content::-webkit-scrollbar {
  width: 0.4rem;
  background-color: hsl(228, 8%, 85%);
}

.sidebar__content::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 75%);
}

.sidebar__title {
  width: max-content;
  font-size: var(--tiny-font-size);
  font-weight: var(--font-semi-bold);
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.sidebar__list,
.sidebar__actions {
  display: grid;
  row-gap: 1.5rem;
}

.sidebar__link {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1rem;
  color: var(--text-color);
  padding-left: 2rem;
  transition: color 0.4s, opacity 0.4s;
}

.sidebar__link.notif {
  display: none;
}

.sidebar__link i {
  font-size: 1.5rem;
}

.sidebar__link span {
  font-weight: var(--font-semi-bold);
}

.sidebar__link:hover {
  color: cornflowerblue;
}

.sidebar__actions {
  margin-top: auto;
}

.sidebar__actions button {
  cursor: pointer;
}

.sidebar__theme {
  width: 100%;
  font-size: 1.25rem;
}

.sidebar__theme span {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

/* Show sidebar */
.show-sidebar {
  left: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  border-radius: 12px;
  height: 20px;
  background-color: var(--first-color);
}

@media screen and (max-width: 1024px) {
  .input {
    width: 350px;
  }
}

@media screen and (max-width: 855px) {
  .input {
    width: 270px;
  }
  .header__link {
    display: none;
  }
  .sidebar__link.notif {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 1rem;
  }
}

/* For smaller devices */
@media screen and (max-width: 768px) {
  .header {
    margin: 1rem;
    padding-left: 0;
    /* transition: padding .4s; */
  }
  .header__container {
    height: calc(var(--header-height) + 2rem);
    padding-inline: 2rem;
  }
  .header__user {
    order: 1;
  }

  .sidebar {
    top: 104px;

    left: 0;
    width: 275px;
    margin: 1rem;
  }
  .sidebar__info,
  .sidebar__link span {
    transition: opacity 0.4s;
  }
  .sidebar__logo,
  .sidebar__title {
    transition: padding 0.4s;
  }

  /* Reduce sidebar */
  .show-sidebar {
    width: 90px;
  }
  .show-sidebar .sidebar__logo {
    padding-left: 1.25rem;
  }
  .show-sidebar .sidebar__title {
    padding-left: 0;
    margin-inline: auto;
  }
  .show-sidebar .sidebar__info,
  .show-sidebar .sidebar__link span {
    opacity: 0;
  }

  .input {
    width: 320px;
  }
}

/* For large devices */
@media screen and (min-width: 769px) {
  .header {
    margin: 1rem;
    padding-left: 300px;
    transition: padding 0.4s;
  }
  .header__container {
    height: calc(var(--header-height) + 2rem);
    padding-inline: 2rem;
  }
  .header__user {
    order: 1;
  }

  .sidebar {
    left: 0;
    width: 275px;
    margin: 1rem;
  }
  .sidebar__info,
  .sidebar__link span {
    transition: opacity 0.4s;
  }
  .sidebar__logo,
  .sidebar__title {
    transition: padding 0.4s;
  }

  /* Reduce sidebar */
  .show-sidebar {
    width: 90px;
  }

  .show-sidebar .sidebar__logo {
    padding-left: 1.25rem;
  }
  .show-sidebar .sidebar__title {
    padding-left: 0;
    margin-inline: auto;
  }
  .show-sidebar .sidebar__info,
  .show-sidebar .sidebar__link span {
    opacity: 0;
  }

  /* Add padding left */
  .left-pd {
    padding-left: 115px;
  }
}

/* Hide toggle icon on small screens */
@media screen and (max-width: 525px) {
  .header__toggle {
    display: none;
  }

  .header__user {
    margin-left: auto;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
  }

  .input {
    width: 100%;
  }

  .header__user {
    display: none;
  }

  .sidebar__user {
    display: grid;
  }
}
